<div class="container advantages">
  <section class="advantages" id="advantages">
    <div class="header">
      <div class="label">Переваги</div> 
      <h2 class="title">Чому обрати нас?</h2>
      <div class="subtitle">
        Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну відповідальність.
      </div>
    </div>
    <ul class="cards">
      <li class="card">
        <picture>
          <source media="(min-width: 1440px)" srcset="img/img-advanatges/1.jpg">
          <source media="(min-width: 768px)" srcset="img/img-advanatges/1-768.jpg">
          <img src="img/img-advanatges/1-320.jpg" alt="Стійкість та екологічність">
        </picture>
        <div class="card-text">
          <h3 class="card-title">Стійкість та <br>екологічність</h3>
          <p class="card-desc">Виготовлені з органічної бавовни та переробленого пластику.</p>
        </div>
      </li>
      <li class="card">
        <picture>
          <source media="(min-width: 1440px)" srcset="img/img-advanatges/2.jpg">
          <source media="(min-width: 768px)" srcset="img/img-advanatges/2-768.jpg">
          <img src="img/img-advanatges/2-320.jpg" alt="Міцність і довговічність">
        </picture>
        <div class="card-text">
          <h3 class="card-title card-title--comfortaa">
            Міцність і <br>довговічність
          </h3>
          <p class="card-desc">Наші сумки мають посилені шви для тривалого використання.</p>
        </div>
      </li>
      <li class="card">
        <picture>
          <source media="(min-width: 1440px)" srcset="img/img-advanatges/3.jpg">
          <source media="(min-width: 768px)" srcset="img/img-advanatges/3-768.jpg">
          <img src="img/img-advanatges/3-320.jpg" alt="Стильний та сучасний дизайн">
        </picture>
        <div class="card-text">
          <h3 class="card-title card-title--design">
            Стильний та<br>сучасний дизайн
          </h3>
          <p class="card-desc">Мінімалістичні моделі в обмежених серіях для кожного стилю.</p>
        </div>
      </li>
    </ul>
  </section>
</div>
