<section>
  <h2 class="feedback-head">Що говорять наші клієнти</h2>
  <ul class="feedback-list">
    <li class="feedback-item">
      <ul class="feedback-icons-list">
        <li class="feedback-icons-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="../img/icons.svg"></use>
          </svg>
        </li>
        <li class="feedback-icons-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="../img/icons.svg"></use>
          </svg>
        </li>
        <li class="feedback-icons-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="../img/icons.svg"></use>
          </svg>
        </li>
        <li class="feedback-icons-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="../img/icons.svg"></use>
          </svg>
        </li>
        <li class="feedback-icons-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="../img/icons.svg"></use>
          </svg>
        </li>
      </ul>
      <p>Сумка дуже зручна та стильна, використовую щодня!</p>
      <p>Анна</p>
    </li>
    <li class="feedback-item">
      <ul class="feedback-icons-list">
        <li class="feedback-icons-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="../img/icons.svg"></use>
          </svg>
        </li>
        <li class="feedback-icons-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="../img/icons.svg"></use>
          </svg>
        </li>
        <li class="feedback-icons-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="../img/icons.svg"></use>
          </svg>
        </li>
        <li class="feedback-icons-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="../img/icons.svg"></use>
          </svg>
        </li>
        <li class="feedback-icons-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="../img/icons.svg"></use>
          </svg>
        </li>
      </ul>
      <p>Відмінна якість матеріалів, приємно здивована.</p>
      <p>Ігор</p>
    </li>
    <li class="feedback-item">
      <ul class="feedback-icons-list">
        <li class="feedback-icons-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="../img/icons.svg"></use>
          </svg>
        </li>
        <li class="feedback-icons-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="../img/icons.svg"></use>
          </svg>
        </li>
        <li class="feedback-icons-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="../img/icons.svg"></use>
          </svg>
        </li>
        <li class="feedback-icons-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="../img/icons.svg"></use>
          </svg>
        </li>
        <li class="feedback-icons-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="../img/icons.svg"></use>
          </svg>
        </li>
      </ul>
      <p>Сумка повністю відповідає опису, рекомендую!</p>
      <p>Олена</p>
    </li>
    <li class="feedback-item">
      <ul class="feedback-icons-list">
        <li class="feedback-icons-item">
          <svg class="feedbsck-icon" width="20" height="20">
            <use href="../img/icons.svg"></use>
          </svg>
        </li>
        <li class="feedback-icons-item">
          <svg class="feedbsck-icon" width="20" height="20">
            <use href="../img/icons.svg"></use>
          </svg>
        </li>
        <li class="feedback-icons-item">
          <svg class="feedbsck-icon" width="20" height="20">
            <use href="../img/icons.svg"></use>
          </svg>
        </li>
        <li class="feedback-icons-item">
          <svg class="feedbsck-icon" width="20" height="20">
            <use href="../img/icons.svg"></use>
          </svg>
        </li>
        <li class="feedback-icons-item">
          <svg class="feedbsck-icon" width="20" height="20">
            <use href="../img/icons.svg"></use>
          </svg>
        </li>
      </ul>
      <p>Швидка доставка та гарне обслуговування.</p>
      <p>Сергій</p>
    </li>
  </ul>
</section>
