
<div class="container">
  <section id="feedbacks" class="feedback-section">
    <h2 class="feedback-head">Що говорять наші клієнти</h2>
    <ul class="feedback-list">
      <li class="feedback-item">
        <ul class="feedback-icons-list">
          <li class="feedback-icons-item">
            <svg class="feedback-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-feedbackstar"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg class="feedback-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-feedbackstar"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg class="feedback-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-feedbackstar"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg class="feedback-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-feedbackstar"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg class="feedback-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-feedbackstar"></use>
            </svg>
          </li>
        </ul>
        <p class="feedback-parag">
          Сумка дуже зручна та стильна, використовую щодня!
        </p>
        <p class="feedback-parag-name">Анна</p>
      </li>
      <li class="feedback-item">
        <ul class="feedback-icons-list">
          <li class="feedback-icons-item">
            <svg class="feedback-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-feedbackstar"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg class="feedback-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-feedbackstar"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg class="feedback-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-feedbackstar"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg class="feedback-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-feedbackstar"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg class="feedback-icon-black" width="20" height="20">
              <use href="./img/icons.svg#icon-feedbackstar"></use>
            </svg>
          </li>
        </ul>
        <p class="feedback-parag">
          Відмінна якість матеріалів, приємно здивована.
        </p>
        <p class="feedback-parag-name">Ігор</p>
      </li>
      <li class="feedback-item">
        <ul class="feedback-icons-list">
          <li class="feedback-icons-item">
            <svg class="feedback-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-feedbackstar"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg class="feedback-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-feedbackstar"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg class="feedback-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-feedbackstar"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg class="feedback-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-feedbackstar"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg class="feedback-icon-black" width="20" height="20">
              <use href="./img/icons.svg#icon-feedbackstar"></use>
            </svg>
          </li>
        </ul>
        <p class="feedback-parag">
          Сумка повністю відповідає опису, рекомендую!
        </p>
        <p class="feedback-parag-name">Олена</p>
      </li>
      <li class="feedback-item">
        <ul class="feedback-icons-list">
          <li class="feedback-icons-item">
            <svg class="feedback-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-feedbackstar"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg class="feedback-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-feedbackstar"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg class="feedback-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-feedbackstar"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg class="feedback-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-feedbackstar"></use>
            </svg>
          </li>
          <li class="feedback-icons-item">
            <svg class="feedback-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-feedbackstar"></use>
            </svg>
          </li>
        </ul>
        <p class="feedback-parag">Швидка доставка та гарне обслуговування.</p>
        <p class="feedback-parag-name">Сергій</p>
      </li>
    </ul>
  </section>
</div>

