<section class="section" id="gallery">
  <div class="container">
    <div class="gallery">
      <h2 class="section-title">Галерея зображень</h2>
      <p class="section-subtitle">EcoTotes у повсякденному житті</p>
    </div>
    <ul class="gallery-list">
      <li class="gallery-item">
        <picture class="gallery-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/gallery/an-eco-tot-desk-1x.jpg 1x,
              ./img/gallery/an-eco-tot-desk-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/gallery/an-eco-tot-tab-1x.jpg 1x,
              ./img/gallery/an-eco-tot-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/gallery/an-eco-tot-mob-1x.jpg 1x,
              ./img/gallery/an-eco-tot-mob-2x.jpg 2x
            "
          />
          <img
            src="./img/an-eco-tot-mob-1x.jpg"
            height="288"
            width="288"
            alt="an-eco-tot"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/gallery/a-city-scene-desk-1x.jpg 1x,
              ./img/gallery/a-city-scene-desk-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/gallery/a-city-scene-tab-1x.jpg 1x,
              ./img/gallery/a-city-scene-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/gallery/a-city-scene-mob-1x.jpg 1x,
              ./img/gallery/a-city-scene-mob-2x.jpg 2x
            "
          />
          <img
            src="./img/gallery/a-city-scene-mob-1x.jpg"
            height="288"
            width="288"
            alt="a-city-scene"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/gallery/a-person-desk-1x.jpg 1x,
              ./img/gallery/a-person-desk-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/gallery/a-person-tab-1x.jpg 1x,
              ./img/gallery/a-person-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/gallery/a-person-mob-1x.jpg 1x,
              ./img/gallery/a-person-mob-2x.jpg 2x
            "
          />
          <img
            src="./img/gallery/a-person-mob-1x.jpg"
            height="288"
            width="288"
            alt="a-person"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/gallery/a-young-woman-desk-1x.jpg 1x,
              ./img/gallery/a-young-woman-desk-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/gallery/a-young-woman-tab-1x.jpg 1x,
              ./img/gallery/a-young-woman-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/gallery/a-young-woman-mob-1x.jpg 1x,
              ./img/gallery/a-young-woman-mob-2x.jpg 2x
            "
          />
          <img
            src="./img/gallery/a-young-woman-mob-1x.jpg"
            height="288"
            width="288"
            alt="a-young-woman"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
