<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo header-logo" href="#">
        <img
          class="header-logo-icon"
          src="/img/logoEcoTone.svg"
          alt="logoEcoTone"
        />
      </a>
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="#about">Про нас</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#advantages">Переваги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#assortment">Асортимент</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gallery">Галерея</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#feedbacks">Відгуки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#support">Контакти</a>
        </li>
      </ul>
    </nav>

    <address class="contacts">
      <ul class="contacts-list">
        <li class="contacts-item">
          <a class="contacts-link" href="tel:+380999091122"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li class="contacts-item">
          <a class="contacts-link" href="mailto:hello@ecotote.com"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>

    <button class="burger-btn" type="button" data-modal-open>
      <svg class="burger-icon" width="32" height="32">
        <use href="/img/icons.svg#icon-ecoburger"></use>
      </svg>
    </button>
  </div>
 

  <div class="mobile-menu" data-modal>
    <div class="container mobile-menu-header-container">
      <a class="logo mobile-menu-header-logo" href="/index.html">
        <img
          class="header-logo-icon"
          src="/img/logoEcoTone.svg"
          alt="logoEcoTone"
        />
      </a>
      <button class="close-btn" type="button" data-modal-close>
        <svg class="close-icon" width="32" height="32">
          <use href="/img/icons.svg#icon-ecoclose"></use>
        </svg>
      </button>

      <nav class="mobile-menu-header-nav">
        <ul class="mobile-menu-nav-list">
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#about">Про нас</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#advantages">Переваги</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#assortment">Асортимент</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#gallery">Галерея</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#feedbacks">Відгуки</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#support">Контакти</a>
          </li>
        </ul>
      </nav>

      <address class="mobile-menu-contacts">
        <ul class="mobile-menu-contacts-list">
          <li class="mobile-menu-contacts-item">
            <a class="mobile-menu-contacts-link" href="tel:+380999091122"
              >+38 (099) 909 11 22</a
            >
          </li>
          <li class="mobile-menu-contacts-item">
            <a class="mobile-menu-contacts-link" href="mailto:hello@ecotote.com"
              >hello@ecotote.com</a
            >
          </li>
        </ul>
      </address>
    </div>
    <!-- закриває .mobile-menu-header-container -->
  </div>
  <!-- закриває .mobile-menu -->
</header>
