<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Support</title>
  <link rel="stylesheet" href="../css/support.css" />
</head>
<body>


<section class="support" id="support">
    <div class="container">
        <div class="support_content">
            
            <div class="support_1block">
                 <h2 class="support_title">
                 Залишились питання?<br/>
                 Зв'яжіться з нами!
                 </h2>
        
            
                <p class="form_subtitle">Ми тут, щоб допомогти!</p>
                <form class="form">
                    <label for="name"> Імʼя
                        <input type="text" class="input" name="user-name" pattern="a-zA-Zа-яА-ЯіІїЇєЄґҐ" title="Іван" placeholder="Іван" required> 
                    </label>
                    <label for="email">Електронна пошта
                         <input type="email" class="input" name="user-email" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" title="hello@ecotote.com" placeholder="hello@ecotote.com" required > 
                    </label>
                    <label for="user-comment">Повідомлення
                          <textarea name="user-comment"  rows="5" class="textarea_comment" placeholder="Введіть своє повідомлення..." required></textarea> 
                    </label>
                     <button class="button_send" type="submit">Надіслати</button>
                </form>
            </div>
            <div class="support_2block">
                <picture>
                    <source media="(min-width: 768px )" 
                    srcset="../img/support/support_img_dt.webp">
                    <source media="(min-width: 1280px )"
                      srcset="../img/support/support_img_dt.webp">
                    <img class="contact_us_img" srcset="../img/support/support_img_dt.webp 1x, ../img/support/support_img_dt_x2.webp 2x"
                      src="./img/contact_us/contact_us_img.webp" alt="A studio space with sketches, fabric samples, scissors, and a half-finished eco tote bag on a work table. Natural lighting from a window, lots of texture and personality. This scene hints at the handmade and artistic origin of the product.">
                  </picture>

            </div>
        </div>
        
    </div>
    
</section>
</body>
</html>