



.about {
    padding: 64px 0;
    background-image: image-set(
      url("../img/about/feature-tel-1x.jpg") 1x,
      url("../img/about/feature-tel-2x.jpg") 2x
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .about_h {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .about_text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    margin-bottom: 12px;
  }
  
  .about_text_2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    max-width: 573px;
  }
  
  /* Tablet */
  @media screen and (min-width: 768px) {
    .about {
      padding: 80px 0;
      background-image: image-set(
        url("../img/about/feature-tab-1x.jpg") 1x,
        url("../img/about/feature-tab-2x.jpg") 2x
      );
    }
  
    .about_h {
      font-size: 36px;
      margin-bottom: 16px;
    }
  
    .about_text {
      margin-bottom: 24px;
    }
  
    .about_text_2 {
      margin: 0 auto;
    }
  }
  
  /* Desktop */
  @media screen and (min-width: 1440px) {
    .about {
      padding: 112px 0;
      background-image: image-set(
        url("../img/about/feature-pc-1x.jpg") 1x,
        url("../img/about/feature-pc-2.jpg") 2x
      );
    }
  
    .about_h {
      font-size: 56px;
    }
  }
  