.assortment-menu {
     display: block;        
  margin-left: auto;
  margin-right: auto;       
  height: auto; 
background: #ebf8ed;
padding: 32px 16px;
}
.assortment-title {
font-weight: 700;
font-size: 36px; 
line-height: 1.2;
letter-spacing: 0.01em;
text-align: center;
color: #030a06;
margin-bottom: 32px;
}
.assortment-container {
border-radius: 32px;
}
.assortment-pow {
padding-bottom: 40px;
}
.container-mod {
margin-top: 16px;
margin-bottom: 16px;
}

.assortment-van {
font-weight: 600;
font-size: 18px;
line-height: 1.6;
text-align: center;
color: #030a06;
}

.container-mod-title {
font-weight: 400;
font-size: 14px;
line-height: 1.6;
text-align: center;
color: #030a06;
margin-bottom: 8px;
}

.assortment-chek {
    font-weight: 600;
font-size: 20px;
line-height: 1.6;
text-align: center;
color: #030a06;
}

.button-chek {
border: 1px solid #030a06;
border-radius: 6px;
padding: 8px 20px;
width: 288px;
height: 40px;
background: #ebf8ed;

}
.button-chek:hover, .button-chek:focus {
    background-color: #030a06;
    color: #fff;
}


                              /* //// TAB //// */


@media screen and (min-width:768px) {
.container {
    max-width:768px;
    padding: 64px 32px;
}
.assortment-container {
    width: 704px;
   
    display: flex;             
   flex-wrap: wrap;


   
}
.container-mod {
width: 340px;


}
.button-chek {
width: 340px;
}
.assortment-pow {
border-radius: 32px;
width: 340px;

}

}









                       /* //// Desctop //// */


   @media screen and (min-width:1440px) {
.container {
    max-width: 1158px;
    padding: 64px;
}

.assortment-title {
    width: auto;
    height: auto;
    margin-bottom: 32px;
}







   } 