.assortment-menu {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  background: #ebf8ed;
  padding: 32px 16px;
  max-width: 320px;
}

.assortment-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #030a06;
  margin-bottom: 32px;
}

.assortment-container {
  border-radius: 32px;
  width: 100%;
  max-width: 100%;
}

.assortment-pow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 40px;
  background-color: transparent;
}

.assortment-pow img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 32px;
}

.container-mod {
  margin: 16px 0;
  flex-grow: 1;
}

.assortment-van {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #030a06;
}

.container-mod-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  color: #030a06;
  margin-bottom: 8px;
  min-height: 48px; /* вирівнюємо по висоті */
}

.assortment-chek {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  color: #030a06;
}

.button-chek {
  border: 1px solid #030a06;
  border-radius: 6px;
  padding: 8px 20px;
  width: 288px;
  height: 40px;
  background: #ebf8ed;
  cursor: pointer;
  align-self: center;
}

.button-chek:hover,
.button-chek:focus {
  background-color: #030a06;
  color: #fff;
}

/* //// TAB //// */
@media screen and (min-width: 768px) {
  .assortment-menu {
    min-width: 768px;
  }

  .assort-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
    min-width: 768px;
  }

  .assortment-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    max-width: 100%;
  }

  .assortment-title {
    width: 704px;
    font-size: 36px;
  }

  .container-mod {
    width: 340px;
  }

  .button-chek {
    width: 340px;
  }

  .assortment-pow {
    width: calc((100% - 24px) / 2);
  }
  .container-mod-upg {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

/* //// Desctop //// */
@media screen and (min-width: 1440px) {
  .assortment-menu {
    min-width: 1440px;
    padding: 32px 16px;
  }

  .assort-container {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 32px;
    padding: 64px;
    min-width: 1440px;
  }

  .assortment-title {
    font-size: 48px;
  }

  .assortment-container {
    gap: 0 24px;
  }

  .assortment-pow {
    width: calc((100% - 72px) / 4);
  }

  .button-chek {
    width: 310px;
  }

  .container-mod {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}