.assortment-menu {
     display: block;        
  margin-left: auto;
  margin-right: auto;       
  height: auto; 
/* padding: 32px 16px; */
width: 320px;
background: #ebf8ed;
}
.assortment-title {
font-weight: 700;
font-size: 36px; 
line-height: 1.2;
letter-spacing: 0.01em;
text-align: center;
color: #030a06;
margin-bottom: 32px;
}
.assortment-container {
border-radius: 32px;
}
.assortment-pow {

}
.container-mod {
margin-top: 16px;
margin-bottom: 16px;
}

.assortment-van {
font-weight: 600;
font-size: 18px;
line-height: 1.6;
text-align: center;
color: #030a06;
}

.container-mod-title {
font-weight: 400;
font-size: 14px;
line-height: 1.6;
text-align: center;
color: #030a06;
margin-bottom: 8px;
}

.assortment-chek {
    font-weight: 600;
font-size: 20px;
line-height: 1.6;
text-align: center;
color: #030a06;
}

.button-chek {
border: 1px solid #030a06;
border-radius: 6px;
padding: 8px 20px;
width: 288px;
height: 40px;
margin-bottom: 40px;
background: #ebf8ed;

}
.button-chek:hover, .button-chek:focus {
    background-color: #030a06;
    color: #fff;
}


                              /* //// TAB //// */


@media screen and (min-width:768px) {
.container {
    max-width:768px;
}
.assortment-menu {

}
.assortment-container {
/* width: calc((100% - 24px) / 2); */

}


}

.assortment-pow {








}














                       /* //// Desctop //// */


   @media screen and (min-width:1440px) {
.container {
    max-width: 1158px;
}








   } 