body {
  font-family: 'Fira Sans', sans-serif;
  color: #030a06;
  line-height: 1.6;
  color: #030a06;
}

:root {
  --color-scheme-1-background: var(--color-emerald-lightest);
  --color-scheme-1-border: var(--opacity-neutral-darkest-15);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-scheme-1-foreground: var(--color-emerald-lighter);
  --color-scheme-1-accent: var(--color-neutral-darkest);
  --color-scheme-2-text: var(--color-neutral-darkest);
  --color-scheme-2-background: var(--color-emerald-light);
  --color-scheme-2-border: var(--opacity-neutral-darkest-15);
  --color-scheme-2-accent: var(--color-neutral-darkest);
  --color-scheme-2-foreground: var(--color-emerald);
  --color-scheme-3-text: var(--color-neutral-darkest);
  --color-scheme-3-background: var(--color-white);
  --color-scheme-3-border: var(--opacity-neutral-darkest-15);
  --color-scheme-3-accent: var(--color-neutral-darkest);
  --color-scheme-3-foreground: var(--color-neutral-lightest);
  --color-neutral-darkest: #030a06;
  --color-neutral-lighter: #d9dad9;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b3b5b4;
  --color-neutral: #818482;
  --color-neutral-dark: #4e5350;
  --color-neutral-darker: #1c221e;
  --color-emerald-lightest: #ebf8ed;
  --color-emerald-lighter: #d7f2db;
  --color-emerald-light: #75d281;
  --color-emerald: #3ac04c;
  --color-emerald-dark: #2e993c;
  --color-emerald-darker: #174c1e;
  --color-emerald-darkest: #113916;
  --color-error-red: #d64040;
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-neutral-darkest-5: rgba(3, 10, 6, 0.05);
  --opacity-neutral-darkest-10: rgba(3, 10, 6, 0.1);
  --opacity-neutral-darkest-15: rgba(3, 10, 6, 0.15);
  --opacity-neutral-darkest-20: rgba(3, 10, 6, 0.2);
  --opacity-neutral-darkest-30: rgba(3, 10, 6, 0.3);
  --opacity-neutral-darkest-40: rgba(3, 10, 6, 0.4);
  --opacity-neutral-darkest-50: rgba(3, 10, 6, 0.5);
  --opacity-neutral-darkest-60: rgba(3, 10, 6, 0.6);
}

:root {
  --font-family: "Fira Sans", sans-serif;
  --second-family: "Comfortaa", sans-serif;
}