:root {
  --font-family: 'Fira Sans', sans-serif;
  --second-family: 'Comfortaa', sans-serif;
}

body {
  font-family: var(--font-family);
}

h1,
h2,
h3 {
  font-family: var(--second-family);
}

html {
  scroll-behavior: smooth;
}
