.footer-navigation {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding-bottom: 48px;
  text-align: center;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-socials {
  display: flex;
  gap: 12px;
}

@media only screen and (min-width: 768px) {
  .footer-navigation {
    gap: 32px;
  }

  .footer-nav {
    flex-direction: row;
    gap: 32px;
  }

  .footer-socials {
    justify-content: center;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-navigation {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
    text-align: left;
  }

  .footer-nav {
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }

  .footer-socials {
    justify-content: flex-end;
  }

  .footer-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 64px;
  }
}
