.footer {
  background-color: #75d281;
  padding: 48px 0;
}

.footer-container {
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding-bottom: 48px;
  text-align: center;
}

.footer-logo {
  height: auto;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-nav-item {
  transition: transform 0.3s ease;
}

.footer-nav-item:hover,
.footer-nav-item:focus {
  transform: scale(1.01);
}

.footer-nav-item:active {
  transform: scale(1.02);
}

.footer-socials {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.footer-social-icon {
  fill: #030a06;
  width: 32px;
  height: 32px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-top: 1px solid rgba(3, 10, 6, 0.15);
  padding-top: 24px;
  padding-bottom: 16px;
  text-align: center;
}

.footer-address-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-address-item {
  transition: transform 0.3s ease;
}

.footer-address-item:hover {
  transform: scale(1.08);
}

.footer-address-item:active {
  transform: scale(1.02);
}

.footer-copy {
  font-size: 14px;
  max-width: 300px;
}

/* ============================= */
/* Tablet - от 768px */
@media only screen and (min-width: 768px) {
  .footer {
    padding: 64px 0;
  }

  .footer-container {
    padding: 0 32px;
  }

  .footer-navigation {
    gap: 32px;
  }

  .footer-nav {
    flex-direction: row;
    gap: 32px;
  }

  .footer-socials {
    justify-content: center;
  }

  .footer-social-icon {
    width: 40px;
    height: 41px;
  }

  .footer-address-list {
    flex-direction: row;
    gap: 32px;
  }
}

/* Desktop - от 1440px */
@media only screen and (min-width: 1440px) {
  .footer-navigation {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
    text-align: left;
  }

  .footer-socials {
    justify-content: flex-end;
  }

  .footer-bottom {
   
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .footer-copy {
    text-align: right;
  }
}
