.hero {
    padding-top: 64px;
    padding-bottom: 64px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 24px;
}

.hero-logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #030a06;
}

.hero-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.hero-description-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #030a06;
    border-radius: 6px;
    padding: 12px 24px;
    background: #030a06;
    min-width: 288px;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
}

.btn:hover {
    background: #fff;
    color: #030a06;
}

.btn:focus {
    background: #fff;
    color: #030a06;
}

.hero-banner {
    border-radius: 40px;
}

@media only screen and (min-width: 768px) {
    .hero {
        padding-top: 32px;
        padding-bottom: 64px;
    }

    .hero-container {
        width: 100%;
    }

    .hero-wrapper {
        flex-direction: row;
        gap: 24px;
        margin-bottom: 20px;
    }

    .hero-logo {
        width: 50%;
    }

    .hero-description {
        width: 50%;
        margin-bottom: 0;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 32px;
    }
    
    .hero-description-text {
        font-size: 18px;
    }

    .btn {
        min-width: 148px;
    }

    .hero-banner {
        width: 100%;
    }
}

@media only screen and (min-width: 1440px) {
    .hero-container {
        width: 100%;
        max-width: 100%;
    }

    .hero-wrapper {
        gap: 32px;
    }

    .hero-logo {
        font-size: 56px;
    }
}
