
.support_title {
  margin-top: 0;
  padding-bottom: 24px;
  color: #030a06;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.04em;
}
.support {
  background-color: #ebf8ed;
}
.support-container {
  padding: 32px 16px;
}
.support_1block {
  display: flex;
  flex-direction: column;
}
.support_content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  min-height: 100vh;
  box-sizing: border-box;
}
.form_subtitle {
  color: rgba(12, 12, 12, 0.7);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.017em;
  margin: 0px;
}
.support_place {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #f3f3f3;
  padding: 48px 28px;
  margin-bottom: 20px;
}
.input {
  margin-bottom: 24px;
  padding: 8px 12px;
  width: 100%;
  height: 42px;
  background-color: #f3f3f3;
  border-radius: 12px;
  border: 1px solid rgba(12, 12, 12, 0.15);
}
.input:hover,
.input:focus,
.input:active {
  border-color: #3350e9;
  outline: none;
}
textarea {
  resize: none;
}
.textarea_comment {
  padding: 12px 12px;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 12px;
  border: 1px solid rgba(12, 12, 12, 0.15);
  margin-bottom: 28px;
  height: 90px;
}

.textarea_comment:hover,
.textarea_comment:focus,
.textarea_comment:active {
  border-color: #3350e9;
  outline: none;
}
input::placeholder {
  color: #0c0c0c;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}
textarea::placeholder {
  color: #0c0c0c;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}
.button_send {
  border-radius: 16px;
  background: #030a06;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  padding: 24px 12px;
}
.button_send:hover,
.button_send:focus,
.button_send:active {
  background: #1f3cd4;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact_us_jpg {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .support_title {
    margin-bottom: 0px;
    font-size: 48px;
    line-height: 0.91;
  }
  .support_place {
    padding: 50px 122px;
    letter-spacing: -0.06em;
  }
  .form_subtitle {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
  }
  .input {
    height: 52px;
    padding: 8px 12px;
  }
  .textarea_comment {
    margin-bottom: 32px;
    width: 100%;
  }
  .input_name {
    padding: 16px 18px;
    width: 100%;
    height: 52px;
  }
  .button_send {
    padding: 17px 63px;
  }
}

@media screen and (min-width: 1280px) {
  .support_content {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .support_place {
    width: 580px;
    height: 556px;
  }
  .input {
    height: 52px;
    padding: 12px 8px;
  }
  .support_place {
    padding: 12px 12px;
  }
  .form_subtitle {
    margin-bottom: 32px;
  }
  .contact_us_img {
    width: 530px;
    height: 556px;
    border-radius: 50px;
  }
  .form {
    gap: 24px;
  }
}
